<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mm.message.service.dao.MessageMapper" >

    <resultMap id="BaseResultMap" type="com.mm.message.service.model.Message" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="uuid" property="uuid" jdbcType="VARCHAR" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="msg_type" property="msgType" jdbcType="VARCHAR" />
        <result column="sender_uuid" property="senderUuid" jdbcType="VARCHAR" />
        <result column="sender" property="sender" jdbcType="VARCHAR" />
        <result column="receiver_uuid" property="receiverUuid" jdbcType="VARCHAR" />
        <result column="receiver" property="receiver" jdbcType="VARCHAR" />
        <result column="state" property="state" jdbcType="INTEGER" />
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="BaseColumnList" >
        id, uuid, title, content, msg_type, sender_uuid, sender, receiver_uuid, receiver, state, created_at, updated_at
    </sql>

    <insert id="save" parameterType="com.mm.message.service.model.Message" useGeneratedKeys="true" keyProperty="id">
        insert into t_message (uuid, title, content, msg_type, sender_uuid, sender, receiver_uuid, receiver, state, created_at, updated_at)
        values(#{uuid}, #{title}, #{content}, #{msgType}, #{senderUuid}, #{sender}, #{receiverUuid}, #{receiver}, #{state}, #{createdAt}, #{updatedAt})
    </insert>

    <select id="loadAll" resultMap="BaseResultMap" parameterType="com.mm.message.service.model.Message" >
        select
        <include refid="BaseColumnList" />
        from t_message
        <where>
            <if test="senderUuid != null and senderUuid != ''">
                sender_uuid = #{senderUuid}
            </if>
            <if test="receiverUuid != null and receiverUuid != ''">
                and receiver_uuid = #{receiverUuid}
            </if>
            <if test="msgType != null and msgType != ''">
                and msg_type = #{msgType}
            </if>
        </where>
        <if test="from != null and pageSize != null">
            limit #{from}, #{pageSize}
        </if>
    </select>

    <select id="count" resultType="java.lang.Integer" parameterType="com.mm.message.service.model.Message" >
        select count(id) from t_message
        <where>
            <if test="senderUuid != null and senderUuid != ''">
                sender_uuid = #{senderUuid}
            </if>
            <if test="receiverUuid != null and receiverUuid != ''">
                and receiver_uuid = #{receiverUuid}
            </if>
            <if test="msgType != null and msgType != ''">
                and msg_type = #{msgType}
            </if>
        </where>
    </select>

</mapper>
